﻿@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewContext.HttpContext.Request.Query["ReturnUrl"];
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="userid">Username</label>
        <input type="text" class="form-control" name="userid" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required />
    </div>
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>