﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Your App</title>

    <!-- CSS Links -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/datatables.net/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="~/pretty-checkbox/pretty-checkbox.min.css">

    <style>
        body {
            background-color: #1e1e1e; /* Dark but not too dark background, similar to macOS dark mode */
            color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #2c2c2c; /* Dark header */
            padding: 10px 20px;
            color: #ffffff;
            text-align: center;
            font-size: 1.5rem;
        }
         
        .sidebar {
            background-color: #333333;
            padding: 15px;
            width: 250px;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            overflow-y: auto;
            color: #ffffff;
        }

            .sidebar input[type="text"] {
                margin-bottom: 10px;
                width: 100%;
                padding: 5px;
                background-color: #444444;
                border: 1px solid #555555;
                color: #ffffff;
            }

            .sidebar .sidebar-content {
                display: none; /* Initially hidden */
            }

                .sidebar .sidebar-content.active {
                    display: block;
                }

        .sidebar-toggle {
            display: block;
            text-align: center;
            margin-bottom: 15px;
            cursor: pointer;
            background-color: #444444;
            padding: 10px;
            border-radius: 5px;
            color: #ffffff;
        }

        .content {
            margin-left: 270px; /* Space for sidebar */
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        @ViewBag.Title
    </header>

    <div class="sidebar">
        <div class="sidebar-toggle">☰ Toggle Sidebar</div>
        <input type="text" id="sidebar-search" placeholder="Search...">
        <div class="sidebar-content">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <!-- JS Scripts -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/jquery-minicolors/jquery.minicolors.min.js"></script>

    <script>
        $(document).ready(function () {
            // Sidebar toggle
            $('.sidebar-toggle').on('click', function () {
                $('.sidebar-content').toggleClass('active');
            });

            // Sidebar search
            $('#sidebar-search').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('.sidebar-content ul li').each(function () {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.includes(searchTerm));
                });
            });
        });
    </script>
</body>
</html>
