﻿
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form></form>
<div>Json Form</div>
@section scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var formSchema = {
                schema: {
                    person: {
                        type: 'object',
                        title: 'Person',
                        properties: {
                            firstName: {
                                type: 'string',
                                title: 'First Name'
                            },
                            lastName: {
                                type: 'string',
                                title: 'Last Name'
                            },
                            address: {
                                type: 'object',
                                title: 'Address',
                                properties: {
                                    street: {
                                        type: 'string',
                                        title: 'Street'
                                    },
                                    city: {
                                        type: 'string',
                                        title: 'City'
                                    },
                                    postalCode: {
                                        type: 'string',
                                        title: 'Postal Code'
                                    }
                                }
                            }
                        }
                    }
                },
                form: [
                    {
                        key: 'person.firstName',
                        placeholder: 'Enter your first name'
                    },
                    {
                        key: 'person.lastName',
                        placeholder: 'Enter your last name'
                    },
                    {
                        key: 'person.address.street',
                        placeholder: 'Enter your street'
                    },
                    {
                        key: 'person.address.city',
                        placeholder: 'Enter your city'
                    },
                    {
                        key: 'person.address.postalCode',
                        placeholder: 'Enter your postal code'
                    },
                    {
                        type: 'submit',
                        title: 'Submit'
                    }
                ],
                onSubmit: function (errors, values) {
                    if (errors) {
                        alert('Validation errors occurred.');
                    } else {
                        console.log(values);
                    }
                }
            };
            $('form').jsonForm(formSchema);
        });
    </script>
}

